@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexSpaceBetween() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flexSpaceEvenly() {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
