@import "./Variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom left, #514354 25%, black);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: $color1;
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb {
  background: $color5;
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: $color3;
}

@import "./App";
@import "./pages/Mainpage";
@import "./components/filter/MultiSelectList";
@import "./components/filter/RangeSlider";
@import "./components/filter/Filter";
@import "./components/StatisticsView";
@import "./components/ListView";
@import "./components/SearchAndFilter";
@import "./components/RenderMap";
@import "./components/lists/RenderList";
@import "./components/LoadingAnimation";
@import "./components/ErrorMessage";
@import "./components/lists/JourneyList";
@import "./components/lists/LocationList";
@import "./components/locationDetails/JourneyDetails";
@import "./components/locationDetails/LocationDetails";
@import "./components/charts/PieGraph";
@import "./components/filter/OneWaySlider";
