* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom left, #514354 25%, black);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #c3d1e1;
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb {
  background: #251429;
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #9e7cb1;
}

.App-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-container .App {
  width: 140rem;
  height: 90%;
  background-color: white;
  display: flex;
  box-shadow: 1rem 1rem 4rem black;
  overflow: hidden;
}
.App-container .App .Mainpage {
  flex: 1;
}

.Mainpage {
  display: flex;
  position: relative;
}
.Mainpage .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: 0.4s ease-out;
}
.Mainpage .stats-open__overlay {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}
.Mainpage .ListView {
  flex: 0.4;
}
.Mainpage .RenderMap {
  flex: 0.6;
}

@media (max-width: 1000px) {
  .Mainpage {
    display: inline;
    perspective: 1px;
  }
  .ListView {
    position: absolute !important;
    top: 0;
    right: 0;
    width: 0%;
  }
  .RenderMap {
    width: 100%;
    height: 100%;
  }
}
.MultiSelectList {
  background-color: #251429;
  position: relative;
  flex: 0.45;
}
.MultiSelectList .list--btn__container {
  background-color: #c3d1e1;
  color: #251429;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  cursor: pointer;
  border-radius: 1rem;
}
.MultiSelectList .list--btn__container.list--open svg {
  transform: rotate(180deg);
}
.MultiSelectList .list--btn__container span {
  font-size: 1.8rem;
}
.MultiSelectList .list--btn__container svg {
  transform: rotate(0);
  transition: all 0.2s ease-out;
}
.MultiSelectList .list--items {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  background-color: #c3d1e1;
  color: #251429;
  border-radius: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  max-height: 20rem;
  width: 100%;
  top: 110%;
  z-index: 3;
}
.MultiSelectList .list--items.list--open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.MultiSelectList .list--items li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1.8rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
  background-color: #9e7cb1;
}
.MultiSelectList .list--items li.checked svg {
  transform: scale(0.6) !important;
}
.MultiSelectList .list--items li:hover {
  background-color: #ecb446;
}
.MultiSelectList .list--items li span {
  font-size: 1.8rem;
}
.MultiSelectList .list--items li .checkbox {
  border: 1px solid black;
  height: 2.8rem;
  width: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.MultiSelectList .list--items li .checkbox svg {
  position: absolute;
  transform: scale(0);
}

.RangeSlider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 1.2rem;
  padding: 2.4rem;
}
.RangeSlider h2 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}
.RangeSlider .fields--container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.RangeSlider .fields--container .separator {
  height: 1px;
  width: 20%;
  background-color: #c3d1e1;
}
.RangeSlider .fields--container input::-webkit-outer-spin-button,
.RangeSlider .fields--container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.RangeSlider .fields--container input {
  background-color: #c3d1e1;
  border-radius: 1rem;
  color: #251429;
  width: 25%;
  text-align: center;
  transition: all 0.2s;
}
.RangeSlider .slider--container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.RangeSlider .slider--container .slider {
  background-color: #757782;
  width: 100%;
  height: 5px;
  position: absolute;
}
.RangeSlider .slider--container .slider .progress {
  position: absolute;
  left: 0%;
  right: 0%;
  height: 100%;
  background: #9e7cb1;
}
.RangeSlider .slider--container input {
  position: absolute;
  padding: 0;
  width: 100%;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
}
.RangeSlider .slider--container input[type=range]::-webkit-slider-thumb {
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
  pointer-events: auto;
  -webkit-appearance: none;
  background-color: #c3d1e1;
}

.filter--container {
  position: absolute;
  background-color: #251429;
  color: #c3d1e1;
  width: 100%;
  min-height: 20rem;
  top: 100%;
  transform: translateX(100%);
  transition: 0.4s ease-out;
  z-index: 4;
  overflow-y: auto;
}
.filter--container .title--container .title {
  text-align: center;
  font-size: 2.8rem;
  padding: 1.8rem;
  border-bottom: 1px solid #c3d1e1;
  margin-bottom: 1.8rem;
}
.filter--container .locations--filter__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
}
.filter--container .locations--filter__container .MultiSelectList {
  width: 50%;
}
.filter--container .locations--filter__container .capacity--slider {
  margin: auto;
}
.filter--container .animation--container {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 50%);
}
.filter--container .animation--container svg {
  fill: #9e7cb1;
}
.filter--container.filters--open {
  transform: translateX(0);
}
.filter--container .filter--date__container .filter--date__header h2 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}
.filter--container .filter--date__container .filter--date__inputs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.filter--container .filter--date__container .filter--date__inputs input {
  background-color: #c3d1e1;
  border-radius: 1rem;
}
.filter--container .filter--by__name {
  margin-top: 1.2rem;
}
.filter--container .filter--by__name h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
.filter--container .filter--by__name .by--name__lists {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.filter--container .submit--filter__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.2rem 0;
}
.filter--container .submit--filter__container button {
  padding: 1.2rem 1.8rem;
  font-size: 1.8rem;
  color: #251429;
  background-color: #9e7cb1;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.filter--container .submit--filter__container button.clear {
  background-color: #aa4a44;
}
.filter--container .submit--filter__container button:hover {
  background-color: #ecb446;
  transform: translateY(1px);
  border-radius: 0;
}

@media (max-width: 1000px) {
  .filter--date__inputs {
    flex-direction: column;
    gap: 1.2rem;
  }
  .by--name__lists {
    flex-direction: column;
    gap: 1.2rem;
  }
  .by--name__lists .MultiSelectList {
    width: 80%;
  }
}
.StatisticsView {
  position: absolute;
  background-color: #251429;
  color: #c3d1e1;
  right: 0;
  top: 0;
  width: 90%;
  height: 100%;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: 4;
}
.StatisticsView.stats-open__statView {
  transform: translateX(0);
}
.StatisticsView .stats-header {
  padding: 0.4rem 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.StatisticsView .stats-header h2 {
  font-size: 2.8rem;
}
.StatisticsView .close-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding: 1.2rem;
  transition: all 0.2s;
  cursor: pointer;
}
.StatisticsView .close-stats svg {
  fill: #c3d1e1;
}
.StatisticsView .close-stats span {
  font-size: 2rem;
}
.StatisticsView .close-stats:hover {
  background-color: #ecb446;
  color: #251429;
}
.StatisticsView .close-stats:hover svg {
  fill: #251429;
}

.ListView {
  display: flex;
  flex-direction: column;
  position: relative;
}
.ListView .btn-container {
  flex: 0.05;
  list-style: none;
  display: flex;
  width: 100%;
  z-index: 1;
}
.ListView .btn-container li {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  padding: 1.5rem 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-out;
  background-color: #251429;
  color: #c3d1e1;
}
.ListView .btn-container li.active {
  background-color: #9e7cb1;
  color: #251429;
}
.ListView .btn-container li.active span {
  background-color: #251429;
  width: 100%;
  height: 0.5rem;
  bottom: 0;
  left: 0;
  position: absolute;
}
.ListView .btn-container li:hover {
  background-color: #9e7cb1;
  color: #251429;
}
.ListView .btn-container li::before {
  content: "";
  background-color: #251429;
  width: 100%;
  height: 0.5rem;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: all 0.2s ease-out;
  position: absolute;
}
.ListView .btn-container li:hover::before {
  transform: scaleX(1);
}
.ListView .pagination {
  padding: 0.4rem;
  flex: 0.05;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.6rem;
  background-color: #ecb446;
}
.ListView .pagination .pagination--hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
.ListView .pagination div {
  background-color: #251429;
  border-radius: 50%;
  cursor: pointer;
  transition: fill, background-color 0.15s;
}
.ListView .pagination div svg {
  fill: #c3d1e1;
}
.ListView .pagination div:hover {
  background-color: #9e7cb1;
}
.ListView .pagination div:hover svg {
  fill: #251429;
}
.ListView .mobile--expandBtn__container {
  position: absolute;
  top: 0;
  right: 100%;
  z-index: 100000;
  background-color: #251429;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s ease-out;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.ListView .mobile--expandBtn__container svg {
  fill: #c3d1e1;
  transform: rotate(-180deg);
}
.ListView .mobile--expandBtn__container span {
  color: #c3d1e1;
  font-size: 1.8rem;
  margin-right: 1.8rem;
}
.ListView .mobile--expandBtn__container:hover {
  background-color: #9e7cb1;
}
.ListView .mobile--expandBtn__container:hover span {
  color: #251429;
}
.ListView .mobile--expandBtn__container:hover svg {
  fill: #251429;
  transition: transform 0.2s ease-out;
}
.ListView .mobile--expandBtn__container.expand--open svg {
  transform: rotate(0);
}

@-webkit-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@media (max-width: 1000px) {
  .ListView {
    transform: translateX(100%);
    transition: all 0.3s linear;
  }
  .ListView.expand--open {
    width: 50%;
    height: 100%;
    transform: translateX(0);
  }
  .ListView .mobile--expandBtn__container {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
}
@media (max-width: 800px) {
  .ListView.expand--open {
    width: 60%;
  }
}
@media (max-width: 650px) {
  .ListView.expand--open {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .ListView.expand--open {
    width: 90%;
  }
  .ListView .mobile--expandBtn__container span {
    display: none;
  }
}
.search--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0rem;
  background-color: #f9fafc;
  position: relative;
}
.search--container .search--input__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(37, 20, 41, 0.5);
  border-radius: 5rem;
  margin-left: 0.2rem;
  overflow: hidden;
}
.search--container .search--input__container input {
  width: 80%;
}
.search--container .search--input__container .search--svg__container {
  background-color: #251429;
  border-radius: 50%;
  padding: 0.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s;
}
.search--container .search--input__container .search--svg__container svg {
  fill: #c3d1e1;
  transform: scale(0.7);
}
.search--container .search--input__container .search--svg__container:hover {
  background-color: #9e7cb1;
}
.search--container .search--input__container .search--svg__container:hover svg {
  fill: #251429;
}
.search--container input {
  background: none;
  border: none;
  padding: 0.6rem;
  font-size: 1.8rem;
}
.search--container input:focus {
  outline: none;
}
.search--container .filter--svg__container {
  background-color: #251429;
  padding: 0.2rem;
  border-radius: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.15s;
}
.search--container .filter--svg__container svg {
  fill: #c3d1e1;
  scale: 0.8;
}
.search--container .filter--svg__container:hover {
  background-color: #9e7cb1;
}
.search--container .filter--svg__container:hover svg {
  fill: #251429;
}
.search--container .results--page__container {
  position: relative;
  cursor: pointer;
}
.search--container .results--page__container .results--page__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 1.2rem;
  background-color: #251429;
  border-radius: 1rem;
  overflow: hidden;
  transition: border-radius 0.3s ease-out;
}
.search--container .results--page__container .results--page__heading.dropdown--open {
  border-radius: 0;
}
.search--container .results--page__container .results--page__heading.dropdown--open .svg--container svg {
  transform: rotate(180deg);
}
.search--container .results--page__container .results--page__heading .svg--container {
  width: 3.2rem;
  height: 4.8rem;
}
.search--container .results--page__container .results--page__heading .svg--container svg {
  transform: rotate(0);
  fill: #c3d1e1;
  transition: transform 0.3s ease-out;
}
.search--container .results--page__container .results--page__heading span {
  font-size: 1.8rem;
  color: #c3d1e1;
}
.search--container .results--page__container .dropdown--content {
  list-style: none;
  width: 100%;
  background-color: #9e7cb1;
  display: none;
  position: absolute;
  top: 100%;
  left: 0%;
}
.search--container .results--page__container .dropdown--content.dropdown--open {
  display: block;
  -webkit-animation: growDown 0.3s ease-in-out forwards;
          animation: growDown 0.3s ease-in-out forwards;
  transform-origin: top center;
}
.search--container .results--page__container .dropdown--content.dropdown--open li {
  display: block;
  opacity: 1;
}
.search--container .results--page__container .dropdown--content li {
  font-size: 1.8rem;
  padding: 1rem;
  border-bottom: 1px solid white;
  display: none;
  opacity: 0;
}
.search--container .results--page__container .dropdown--content li.active .li--flex svg {
  transform: scale(0.7);
}
.search--container .results--page__container .dropdown--content li .li--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.search--container .results--page__container .dropdown--content li .li--flex svg {
  transform: scale(0);
}
.search--container .results--page__container .dropdown--content li:hover {
  background-color: #ecb446;
}

@media (max-width: 1360px) {
  .search--container .results--page__container {
    width: 30%;
  }
}
@media (max-width: 1260px) {
  .search--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
  .search--container .search--input__container {
    grid-row: 1;
    grid-column: 1/-1;
    width: 95%;
    justify-self: center;
    margin-left: 0;
  }
  .search--container .results--page__container {
    width: 90%;
    align-self: center;
    justify-self: center;
  }
  .search--container .filter--svg__container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    justify-self: end;
  }
}
.RenderMap {
  transition: all 0.5s ease-out;
  display: flex;
  flex-direction: column;
  position: relative;
  perspective: 1px;
}
.RenderMap .leaflet-container {
  flex: 1;
  z-index: 1;
}
.RenderMap .location--details__container {
  background-color: #251429;
  padding: 1.2rem;
  position: absolute;
  width: 100%;
  min-height: 40%;
  max-height: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transform: translateY(100%);
  transition: transform 0.5s ease-out;
}
.RenderMap .location--details__container.fixed--height {
  height: 90%;
}
.RenderMap .location--details__container.loading--details__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.RenderMap .location--details__container.loading--details__container .animation--container {
  position: absolute;
  top: 30%;
}
.RenderMap .location--details__container.loading--details__container .animation--container svg {
  fill: #9e7cb1;
}
.RenderMap .location--details__container.details--open {
  transform: translateY(0);
}
.RenderMap .location--details__container .expand--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 3.2rem;
  width: 4.8rem;
  border-radius: 0.5rem;
  background-color: #9e7cb1;
  cursor: pointer;
  position: fixed;
  left: 50%;
  right: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-out;
}
.RenderMap .location--details__container .expand--btn svg {
  fill: #251429;
  transition: transform 0.5s ease-out;
}
.RenderMap .location--details__container .expand--btn.close--details {
  transform: translate(-50%, -90%);
}
.RenderMap .location--details__container .expand--btn.close--details svg {
  transform: rotate(180deg);
}
.RenderMap .location--details__container .inner--container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.RenderMap .location--details__container .inner--container h2 {
  font-size: 2.4rem;
  text-align: center;
  color: #c3d1e1;
  margin-bottom: 1.2rem;
  padding-top: 2rem;
}

.List {
  flex: 0.9;
  background-color: #757782;
  overflow-y: auto;
  width: 100%;
}
.List .loading--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.List .error--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.List li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  background-color: #c3d1e1;
  border-bottom: 1px solid #251429;
  cursor: pointer;
  transition: all 0.2s;
}
.List li:hover {
  background-color: #251429;
  color: #c3d1e1;
}
.List li:hover span {
  color: #c3d1e1;
}

.animation--container {
  position: relative;
  width: 10rem;
  height: 5rem;
}
.animation--container svg {
  fill: #251429;
}
.animation--container .large {
  width: 4.8rem;
  height: 4.8rem;
  position: absolute;
  left: 5%;
  top: 0;
  -webkit-animation: rotateRight 6s linear infinite;
          animation: rotateRight 6s linear infinite;
}
.animation--container .medium {
  width: 3.6rem;
  height: 3.6rem;
  position: absolute;
  right: 23%;
  top: 70%;
  -webkit-animation: rotateLeft 6s linear infinite;
          animation: rotateLeft 6s linear infinite;
}
.animation--container .small {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 25%;
  top: 123%;
  -webkit-animation: rotateRight 6s linear infinite;
          animation: rotateRight 6s linear infinite;
}
.animation--container .loading--text__container {
  display: flex;
  align-items: flex-end;
  gap: 0.2rem;
  position: absolute;
  font-size: 1.8rem;
  color: #ecb446;
  top: 190%;
  left: -5%;
}
.animation--container .loading--text__container h2 {
  color: #ecb446 !important;
}
.animation--container .loading--text__container .loading--dots {
  display: flex;
  margin-bottom: 0.4rem;
  gap: 0.4rem;
}
.animation--container .loading--text__container .loading--dots span {
  background-color: #ecb446;
  width: 0.8rem;
  height: 0.8rem;
  display: block;
  border-radius: 50%;
  -webkit-animation: dots 1.5s ease-out infinite;
          animation: dots 1.5s ease-out infinite;
}
.animation--container .loading--text__container .loading--dots .dot--one {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.animation--container .loading--text__container .loading--dots .dot--two {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.animation--container .loading--text__container .loading--dots .dot--three {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes rotateRight {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes rotateRight {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotateLeft {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
@keyframes rotateLeft {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
@-webkit-keyframes dots {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes dots {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.ErrorMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  color: #ecb446;
  fill: #ecb446;
}
.ErrorMessage span {
  font-size: 1.8rem;
  width: 80%;
}

.JourneyList li:hover .station--name {
  color: #c3d1e1 !important;
}
.JourneyList li .stations {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.JourneyList li .stations div {
  display: flex;
  flex-direction: column;
}
.JourneyList li .stations div .station--header {
  margin-bottom: 0.4rem;
  border-bottom: 1px solid #ccc;
  font-size: 1.4rem;
  font-weight: 700;
}
.JourneyList li .stations div .station--name {
  font-size: 1.2rem;
  color: #111;
}
.JourneyList li .distance--container {
  display: grid;
  font-size: 1.2rem;
  align-items: center;
  text-align: center;
}
.JourneyList li .distance--container .border {
  width: 100%;
  height: 1px;
  background-color: #999;
  justify-self: center;
  grid-row: 2;
  grid-column: 1/3;
}
.JourneyList li .distance--container .distance {
  grid-row: 1/3;
  align-items: center;
  background-color: yellow;
}
.JourneyList li .distance--container .distance div {
  display: flex;
  align-items: center;
  text-align: center;
}
.JourneyList li .distance--container svg {
  transform: scale(0.6);
  fill: #777;
}

.LocationList li:hover .location--header span {
  color: #c3d1e1;
}
.LocationList li .location--header h2 {
  font-size: 2rem;
}
.LocationList li .location--header span {
  font-size: 1.2rem;
  color: rgba(37, 20, 41, 0.85);
}
.LocationList li .capacity--container {
  display: grid;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
  grid-template-rows: repeat(3, 30%);
}
.LocationList li .capacity--container .border {
  width: 100%;
  height: 1px;
  background-color: #999;
  justify-self: center;
  grid-row: 2;
}
.LocationList li .capacity--container .capacity {
  display: flex;
  align-items: center;
  justify-content: center;
}
.LocationList li .capacity--container .capacity svg {
  transform: scale(0.5);
  fill: #777;
}

.JourneyDetails {
  color: #c3d1e1;
  display: flex;
}
.JourneyDetails .journey--details__box {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.JourneyDetails .journey--details__box h2 {
  font-size: 1.8rem;
  border-bottom: 1px solid #c3d1e1;
  padding-bottom: 0.4rem;
}
.JourneyDetails .journey--details__box ul {
  list-style: none;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.8rem;
}
.JourneyDetails .journey--details__box ul li {
  display: flex;
  align-items: center;
}
.JourneyDetails .journey--details__box ul li .detail--headers {
  flex: 0.5;
  padding: 1rem;
  border-bottom: 1px dotted white;
}
.JourneyDetails .journey--details__box ul li .detail {
  flex: 0.5;
  background-color: #c3d1e1;
  border-radius: 1.5rem;
  padding: 1.2rem;
  color: #251429;
}
.JourneyDetails .journey--details__box ul li span {
  font-size: 1.4rem;
}

.LocationDetails {
  color: #c3d1e1;
  display: flex;
  flex-direction: column;
  margin-top: 2.4rem;
}
.LocationDetails .location--details__box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.LocationDetails .location--details__box ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.LocationDetails .location--details__box ul li {
  display: flex;
  align-items: center;
}
.LocationDetails .location--details__box ul li .detail--headers {
  flex: 0.5;
}
.LocationDetails .location--details__box ul li .detail {
  flex: 0.5;
  background-color: #c3d1e1;
  border-radius: 1.5rem;
  padding: 1.2rem;
  color: #251429;
}
.LocationDetails .location--details__box ul li span {
  font-size: 1.4rem;
}
.LocationDetails .location--details__avg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.8rem;
}
.LocationDetails .location--details__avg .avg--item__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 0.45;
  gap: 1.8rem;
}
.LocationDetails .location--details__avg .avg--item__container .border {
  height: 1px;
  width: 100%;
  background-color: #c3d1e1;
}
.LocationDetails .location--details__avg .avg--item__container span {
  font-size: 1.4rem;
}
.LocationDetails .location--details__avg .avg--item__container .detail {
  width: 80%;
  text-align: center;
  background-color: #c3d1e1;
  border-radius: 1.5rem;
  padding: 1.2rem;
  color: #251429;
  font-weight: 600;
}
.LocationDetails .location--details__toplist .toplist--item__container {
  margin-top: 2.4rem;
}
.LocationDetails .location--details__toplist .toplist--item__container h2 {
  padding: 1.2rem;
  border-bottom: 1px solid #c3d1e1;
}
.LocationDetails .location--details__toplist .toplist--item__container .toplist--item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.LocationDetails .location--details__toplist .toplist--item__container .toplist--item ul {
  list-style: none;
  flex: 0.5;
}
.LocationDetails .location--details__toplist .toplist--item__container .toplist--item ul li {
  width: 100%;
  padding: 0.6rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dotted #c3d1e1;
}
.LocationDetails .location--details__toplist .toplist--item__container .toplist--item ul li span {
  font-size: 1.4rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.5;
}
.wrapper .pie--container {
  width: 50%;
  height: 50%;
}/*# sourceMappingURL=index.css.map */