@import "../../Variables";
@import "../../Mixins";

.filter--container {
  position: absolute;
  background-color: $color5;
  color: $color1;
  width: 100%;
  min-height: 20rem;
  top: 100%;
  transform: translateX(100%);
  transition: 0.4s ease-out;
  z-index: 4;
  overflow-y: auto;
  .title--container {
    .title {
      text-align: center;
      font-size: 2.8rem;
      padding: 1.8rem;
      border-bottom: 1px solid $color1;
      margin-bottom: 1.8rem;
    }
  }
  .locations--filter__container {
    width: 100%;
    @include flexCenter;
    flex-direction: column;
    gap: 2.4rem;
    .MultiSelectList {
      width: 50%;
    }
  }
  .animation--container {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 50%);
    svg {
      fill: $color3;
    }
  }
  &.filters--open {
    transform: translateX(0);
  }
  .filter--date__container {
    .filter--date__header {
      h2 {
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 1rem;
      }
    }
    .filter--date__inputs {
      @include flexSpaceEvenly;
      input {
        background-color: $color1;
        border-radius: 1rem;
      }
    }
  }
  .filter--by__name {
    margin-top: 1.2rem;
    h2 {
      text-align: center;
      font-size: 1.8rem;
      margin-bottom: 1.2rem;
    }
    .by--name__lists {
      @include flexSpaceEvenly;
    }
  }
  .submit--filter__container {
    @include flexSpaceEvenly;
    padding: 1.2rem 0;
    button {
      padding: 1.2rem 1.8rem;
      font-size: 1.8rem;
      color: $color5;
      background-color: $color3;
      border-radius: 1rem;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease-out;
      &.clear {
        background-color: #aa4a44;
      }
      &:hover {
        background-color: $color2;
        transform: translateY(1px);
        border-radius: 0;
      }
    }
  }
}

@media (max-width: 1000px) {
  .filter--date__inputs {
    flex-direction: column;
    gap: 1.2rem;
  }
  .by--name__lists {
    flex-direction: column;
    gap: 1.2rem;
    .MultiSelectList {
      width: 80%;
    }
  }
}
