@import "../../Variables";
@import "../../Mixins";

.SelectCollection {
  @include flexCenter;
  flex-direction: column;
  border-right: 1px solid $color1;
  width: 100%;
  height: 100%;
  p {
    font-size: 1.8rem;
    color: $color1;
    width: 80%;
    padding: 2.4rem;
  }
  .collections--container {
    @include flexCenter;
    gap: 7.8rem;

    .collection--container {
      @include flexCenter;
      flex-direction: column;
      gap: 1.8rem;
      background-color: $color1;
      width: 18.8rem;
      height: 18.8rem;
      cursor: pointer;
      transition: all 0.3s ease-out;

      span {
        font-size: 1.8rem;
        color: $color5;
      }
      svg {
        fill: $color5;
      }
      &.active {
        background-color: $color3;
        transform: translateY(3px);
        box-shadow: 0rem 0.5rem 0.5rem black;
        span {
          color: $color2;
        }
        svg {
          fill: $color2;
        }
      }
      &:hover {
        background-color: $color3;
        transform: translateY(3px);
        box-shadow: 0.2rem 0.5rem 0.8rem black;
        span {
          color: $color2;
        }
        svg {
          fill: $color2;
        }
      }
    }
  }
}
