@import "../Variables";

.RenderMap {
  transition: all 0.5s ease-out;
  display: flex;
  flex-direction: column;
  .leaflet-container {
    flex: 0.7;
  }
  .location--details__container {
    background-color: $color5;
    flex: 0.3;
    padding: 1.2rem;
    h2 {
      font-size: 2.4rem;
      text-align: center;
      color: $color1;
    }
  }
}
