.search--container {
  @include flexSpaceBetween;
  padding: 0.8rem 0rem;
  background-color: #f9fafc;
  .search--input__container {
    @include flexSpaceBetween;
    border: 1px solid rgba($color: $color5, $alpha: 0.5);
    border-radius: 5rem;
    margin-left: 0.2rem;
    overflow: hidden;
    .search--svg__container {
      background-color: $color5;
      border-radius: 50%;
      padding: 0.2rem;
      cursor: pointer;
      @include flexCenter;
      transition: all 0.15s;
      svg {
        fill: $color1;
        transform: scale(0.7);
      }
      &:hover {
        background-color: $color3;
        svg {
          fill: $color5;
        }
      }
    }
  }
  input {
    background: none;
    border: none;
    padding: 0.6rem;
    font-size: 1.8rem;
    &:focus {
      outline: none;
    }
  }
  .filter--container {
    background-color: $color5;
    padding: 0.2rem;
    border-radius: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.15s;
    svg {
      fill: $color1;
      scale: (0.8);
    }
    &:hover {
      background-color: $color3;
      svg {
        fill: $color5;
      }
    }
  }
  .results--page__container {
    position: relative;
    cursor: pointer;

    .results--page__heading {
      @include flexCenter;

      padding: 0 1.2rem;
      background-color: $color5;
      border-radius: 1rem;
      overflow: hidden;
      transition: border-radius 0.3s ease-out;

      &.dropdown--open {
        border-radius: 0;
        .svg--container {
          svg {
            transform: rotate(180deg);
          }
        }
      }
      .svg--container {
        width: 3.2rem;
        height: 4.8rem;
        svg {
          transform: rotate(0);
          fill: $color1;
          transition: transform 0.3s ease-out;
        }
      }
      span {
        font-size: 1.8rem;
        color: $color1;
      }
    }
    .dropdown--content {
      list-style: none;
      width: 100%;
      background-color: $color3;

      display: none;
      position: absolute;
      top: 100%;
      left: 0%;

      &.dropdown--open {
        display: block;
        animation: growDown 0.3s ease-in-out forwards;
        transform-origin: top center;
        li {
          display: block;
          opacity: 1;
        }
      }

      li {
        &.active {
          .li--flex {
            svg {
              transform: scale(0.7);
            }
          }
        }
        .li--flex {
          @include flexSpaceBetween;
          width: 100%;
          svg {
            transform: scale(0);
          }
        }
        font-size: 1.8rem;
        padding: 1rem;
        border-bottom: 1px solid white;

        display: none;
        opacity: 0;
        &:hover {
          background-color: $color2;
        }
      }
    }
  }
}
