@import "../../Variables";
@import "../../Mixins";

.LocationDetails {
  color: $color1;
  display: flex;

  .location--details__box {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    h2 {
      font-size: 1.8rem;
      border-bottom: 1px solid $color1;
    }
    ul {
      list-style: none;
      $color: $color1;
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      li {
        display: flex;
        align-items: center;

        .detail--headers {
          flex: 0.5;
        }
        .detail {
          flex: 0.5;
          background-color: $color1;
          border-radius: 1.5rem;
          padding: 1.2rem;
          color: $color5;
        }
        span {
          font-size: 1.4rem;
        }
      }
    }
  }
}
